$bg-clr: #d582c3
$difclrtxt: #fff
$link-clr: #1a0816
$original-bg: #BB3EA0
$sansita: 'Sansita', sans-serif
$sansita-bold: 800i
$sansita-lite: 400
$montserrat: 'Montserrat', sans-serif

@mixin breakpoint($point)
  @if $point == babushka
    @media (min-width: 68.75em)
      @content
  @else if $point == devotchka
    @media (min-width: 48em)
      @content
